:root{
    --text-coler:rgb(252, 251, 251);
    --font-family:serif;
    --main-bgcolor:rgb(63, 58, 58);
    --btn-color:rgb(88, 84, 84);
    --btn-hover:rgb(119, 107, 107);
    --btncolor-color:rgb(82, 62, 62);
    --radius-btns: 0 20px;
}